[data-md-color-scheme="digital-garden"] {
    --md-primary-fg-color:        #108761;
    --md-primary-fg-color--light: #12946B;
    --md-primary-fg-color--dark:  #0D6E4F;

    --md-primary-bg-color:        #FFFFFF;
    --md-primary-bg-color--light: #FFFFFF;

    --md-accent-fg-color: #D42F5F;
}
