[data-md-color-scheme="youtube"] {
    --md-primary-fg-color:               #EE0F0F;
    --md-primary-fg-color--light:        #EE0F0F;
    --md-primary-fg-color--dark:         #EE0F0F;
    --md-primary-bg-color:               #EE0F0F;
    --md-primary-bg-color--light:        #EE0F0F;

    --md-accent-fg-color:                #EE0F0F;
    --md-accent-fg-color--transparent:   #EE0F0F;
    --md-accent-bg-color:                #EE0F0F;
    --md-accent-bg-color--light:         #EE0F0F;
}
