/* noto-sans-tc-100 - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-100.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-100.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-100.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-100.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}

/* noto-sans-tc-300 - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-300.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-300.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}

/* noto-sans-tc-regular - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-regular.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}

/* noto-sans-tc-500 - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-500.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}

/* noto-sans-tc-700 - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-700.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-700.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}

/* noto-sans-tc-900 - latin_chinese-traditional */
@font-face {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-900.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-900.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-tc-v11-latin_chinese-traditional-900.svg#NotoSansTC') format('svg'); /* Legacy iOS */
}


@font-face {
  font-family: 'Hack';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Hack'), local('Hack-Regular'),
       url('../fonts/hack-regular.woff2') format('woff2'),
       url('../fonts/hack-regular.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Hack-Bold'),
       url('../fonts/hack-bold.woff2') format('woff2'),
       url('../fonts/hack-bold.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: local('Hack-Italic'),
       url('../fonts/hack-italic.woff2') format('woff2'),
       url('../fonts/hack-italic.woff') format('woff');
}

@font-face {
  font-family: 'Hack';
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: local('Hack-BoldItalic'),
       url('../fonts/hack-bolditalic.woff2') format('woff2'),
       url('../fonts/hack-bolditalic.woff') format('woff');
}

/* @media (prefers-color-scheme: dark) { */
/*     [data-md-color-scheme="digital-garden"] { */
/*         /1* Main banner color *1/ */
/*         --md-primary-fg-color:              #232426; */

/*         /1* Links *1/ */
/*         --md-typeset-a-color:               #EE3A3A; */

/*         --md-primary-bg-color:              #FFFFFF; */
/*         --md-primary-bg-color--light:       #FFFFFF; */

/*         /1* Main text color *1/ */
/*         --md-default-fg-color:              hsla(60, 30%, 96%, 1); */
/*         --md-default-fg-color--light:       hsla(60, 30%, 96%, 1); */
/*         /1* Perma Link # color *1/ */
/*         --md-default-fg-color--lighter:     #EE3A3A; */
/*         --md-default-fg-color--lightest:    hsla(60, 30%, 96%, 1); */

/*         /1* Main background color *1/ */
/*         --md-default-bg-color:              #101011; */

/*         /1* Accent is used for hovering over links *1/ */
/*         --md-accent-fg-color: hsla(326, 100%, 50%, 1); */

/*         --md-footer-fg-color--light: #A3A3A3; */
/*         --md-footer-fg-color--lighter: #808080; */

/*         /1* Code colors *1/ */
/*         --md-code-fg-color: hsla(60, 30%, 96%, 1); */
/*         --md-code-bg-color: hsla(231, 15%, 18%, 1); */
/*         --md-code-hl-comment-color: hsla(255, 27%, 51%, 1); */
/*         --md-code-hl-function-color: hsla(135, 94%, 65%, 1); */
/*         --md-code-hl-keyword-color: hsla(326, 100%, 74%, 1); */
/*         --md-code-hl-string-color: hsla(65, 92%, 76%, 1); */
/*     } */
/* } */

/* @media (prefers-color-scheme: light){ */
@media {
    [data-md-color-scheme="digital-garden"] {
        --md-primary-fg-color:        #108761;
        --md-primary-fg-color--light: #12946B;
        --md-primary-fg-color--dark:  #0D6E4F;

        --md-primary-bg-color:        #FFFFFF;
        --md-primary-bg-color--light: #FFFFFF;

        --md-accent-fg-color: #D42F5F;

        --md-footer-fg-color--light: #A3A3A3;
        --md-footer-fg-color--lighter: #808080;
    }
}

img {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
                0 2px 4px rgba(0,0,0,0.07), 
                0 4px 8px rgba(0,0,0,0.07), 
                0 8px 16px rgba(0,0,0,0.07),
                0 16px 32px rgba(0,0,0,0.07), 
                0 32px 64px rgba(0,0,0,0.07);

    border-radius: 10px;
}


* {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
}

body, input {
  font-family: "Noto Sans TC", -apple-system, Helvetica, Arial, sans-serif;
}

pre, code, kbd {
  font-family: "Hack", SFMono-Regular, Consolas, Menlo, monospace;
}

:root {
  --md-admonition-icon--pgp-key: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 01261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"/></svg>')
}

.md-typeset .admonition.pgp-key,
.md-typeset details.pgp-key {
  border-color: hsla(51, 100%, 50%, 1);
}

.md-typeset .pgp-key > .admonition-title,
.md-typeset .pgp-key > summary {
  background-color: hsla(51, 100%, 93%, 1);
}

.md-typeset .pgp-key > .admonition-title::before,
.md-typeset .pgp-key > summary::before {
  background-color: hsla(51, 100%, 50%, 1);
  -webkit-mask-image: var(--md-admonition-icon--pgp-key);
          mask-image: var(--md-admonition-icon--pgp-key);
}
